# Read data and Data cleaning

In [1]:
using DataFrames
using JuMP
using ExcelReaders

In [2]:
Ndata = readtable("Ndata.csv", separator=';')

20×6 DataFrames.DataFrame
│ Row │ i            │ slo    │ sup     │ plo │ pup  │ c    │
├─────┼──────────────┼────────┼─────────┼─────┼──────┼──────┤
│ 1   │ "Anderlues"  │ 0.0    │ 1.2     │ 0   │ 66.2 │ 0.0  │
│ 2   │ "Antwerpen"  │ -Inf   │ -4.034  │ 30  │ 80.0 │ 0.0  │
│ 3   │ "Arlon"      │ -Inf   │ -0.222  │ 0   │ 66.2 │ 0.0  │
│ 4   │ "Berneau"    │ 0.0    │ 0.0     │ 0   │ 66.2 │ 0.0  │
│ 5   │ "Blaregnies" │ -Inf   │ -15.616 │ 50  │ 66.2 │ 0.0  │
│ 6   │ "Brugge"     │ -Inf   │ -3.918  │ 30  │ 80.0 │ 0.0  │
│ 7   │ "Dudzele"    │ 0.0    │ 8.4     │ 0   │ 77.0 │ 2.28 │
│ 8   │ "Gent"       │ -Inf   │ -5.256  │ 30  │ 80.0 │ 0.0  │
│ 9   │ "Liege"      │ -Inf   │ -6.385  │ 30  │ 66.2 │ 0.0  │
│ 10  │ "Loenhout"   │ 0.0    │ 4.8     │ 0   │ 77.0 │ 2.28 │
│ 11  │ "Mons"       │ -Inf   │ -6.848  │ 0   │ 66.2 │ 0.0  │
│ 12  │ "Namur"      │ -Inf   │ -2.12   │ 0   │ 66.2 │ 0.0  │
│ 13  │ "Petange"    │ -Inf   │ -1.919  │ 25  │ 66.2 │ 0.0  │
│ 14  │ "Peronnes"   │ 0.0    │ 0.96    │ 0   │ 66.2 │ 1.68 │
│ 15  │ "Sinsin"     │ 0.0    │ 0.0     │ 0   │ 63.0 │ 0.0  │
│ 16  │ "Voeren"     │ 20.344 │ 22.012  │ 50  │ 66.2 │ 1.68 │
│ 17  │ "Wanze"      │ 0.0    │ 0.0     │ 0   │ 66.2 │ 0.0  │
│ 18  │ "Warnand"    │ 0.0    │ 0.0     │ 0   │ 66.2 │ 0.0  │
│ 19  │ "Zeebrugge"  │ 8.87   │ 11.594  │ 0   │ 77.0 │ 2.28 │
│ 20  │ "Zomergem"   │ 0.0    │ 0.0     │ 0   │ 80.0 │ 0.0  │

In [3]:
Adata = readtable("Adata.csv", separator=';')

24×6 DataFrames.DataFrame
│ Row │ a  │ i           │ j            │ D     │ L    │ act │
├─────┼────┼─────────────┼──────────────┼───────┼──────┼─────┤
│ 1   │ 1  │ "Zeebrugge" │ "Dudzele"    │ 890.0 │ 4.0  │ 0   │
│ 2   │ 2  │ "Zeebrugge" │ "Dudzele"    │ 890.0 │ 4.0  │ 0   │
│ 3   │ 3  │ "Dudzele"   │ "Brugge"     │ 890.0 │ 6.0  │ 0   │
│ 4   │ 4  │ "Dudzele"   │ "Brugge"     │ 890.0 │ 6.0  │ 0   │
│ 5   │ 5  │ "Brugge"    │ "Zomergem"   │ 890.0 │ 26.0 │ 0   │
│ 6   │ 6  │ "Loenhout"  │ "Antwerpen"  │ 590.1 │ 43.0 │ 0   │
│ 7   │ 7  │ "Antwerpen" │ "Gent"       │ 590.1 │ 29.0 │ 0   │
│ 8   │ 8  │ "Gent"      │ "Zomergem"   │ 590.1 │ 19.0 │ 0   │
│ 9   │ 9  │ "Zomergem"  │ "Peronnes"   │ 890.0 │ 55.0 │ 0   │
│ 10  │ 10 │ "Voeren"    │ "Berneau"    │ 890.0 │ 5.0  │ 1   │
│ 11  │ 11 │ "Voeren"    │ "Berneau"    │ 395.0 │ 5.0  │ 1   │
│ 12  │ 12 │ "Berneau"   │ "Liege"      │ 890.0 │ 20.0 │ 0   │
│ 13  │ 13 │ "Berneau"   │ "Liege"      │ 395.0 │ 20.0 │ 0   │
│ 14  │ 14 │ "Liege"     │ "Warnand"    │ 890.0 │ 25.0 │ 0   │
│ 15  │ 15 │ "Liege"     │ "Warnand"    │ 395.0 │ 25.0 │ 0   │
│ 16  │ 16 │ "Warnand"   │ "Namur"      │ 890.0 │ 42.0 │ 0   │
│ 17  │ 17 │ "Namur"     │ "Anderlues"  │ 890.0 │ 40.0 │ 0   │
│ 18  │ 18 │ "Anderlues" │ "Peronnes"   │ 890.0 │ 5.0  │ 0   │
│ 19  │ 19 │ "Peronnes"  │ "Mons"       │ 890.0 │ 10.0 │ 0   │
│ 20  │ 20 │ "Mons"      │ "Blaregnies" │ 890.0 │ 25.0 │ 0   │
│ 21  │ 21 │ "Warnand"   │ "Wanze"      │ 395.5 │ 10.5 │ 0   │
│ 22  │ 22 │ "Wanze"     │ "Sinsin"     │ 315.5 │ 26.0 │ 1   │
│ 23  │ 23 │ "Sinsin"    │ "Arlon"      │ 315.5 │ 98.0 │ 0   │
│ 24  │ 24 │ "Arlon"     │ "Petange"    │ 315.5 │ 6.0  │ 0   │

In [287]:
I = Ndata[:i] #set of cities -->  i,j element of I

20-element DataArrays.DataArray{String,1}:
 "Anderlues"
 "Antwerpen"
 "Arlon"
 "Berneau"
 "Blaregnies"
 "Brugge"
 "Dudzele"
 "Gent"
 "Liege"
 "Loenhout"
 "Mons"
 "Namur"
 "Petange"
 "Peronnes"
 "Sinsin"
 "Voeren"
 "Wanze"
 "Warnand"
 "Zeebrugge"
 "Zomergem"

In [288]:
I

20-element DataArrays.DataArray{String,1}:
 "Anderlues"
 "Antwerpen"
 "Arlon"
 "Berneau"
 "Blaregnies"
 "Brugge"
 "Dudzele"
 "Gent"
 "Liege"
 "Loenhout"
 "Mons"
 "Namur"
 "Petange"
 "Peronnes"
 "Sinsin"
 "Voeren"
 "Wanze"
 "Warnand"
 "Zeebrugge"
 "Zomergem"

In [227]:
Ndata

20×6 DataFrames.DataFrame
│ Row │ i            │ slo    │ sup     │ plo │ pup  │ c    │
├─────┼──────────────┼────────┼─────────┼─────┼──────┼──────┤
│ 1   │ "Anderlues"  │ 0.0    │ 1.2     │ 0   │ 66.2 │ 0.0  │
│ 2   │ "Antwerpen"  │ -Inf   │ -4.034  │ 30  │ 80.0 │ 0.0  │
│ 3   │ "Arlon"      │ -Inf   │ -0.222  │ 0   │ 66.2 │ 0.0  │
│ 4   │ "Berneau"    │ 0.0    │ 0.0     │ 0   │ 66.2 │ 0.0  │
│ 5   │ "Blaregnies" │ -Inf   │ -15.616 │ 50  │ 66.2 │ 0.0  │
│ 6   │ "Brugge"     │ -Inf   │ -3.918  │ 30  │ 80.0 │ 0.0  │
│ 7   │ "Dudzele"    │ 0.0    │ 8.4     │ 0   │ 77.0 │ 2.28 │
│ 8   │ "Gent"       │ -Inf   │ -5.256  │ 30  │ 80.0 │ 0.0  │
│ 9   │ "Liege"      │ -Inf   │ -6.385  │ 30  │ 66.2 │ 0.0  │
│ 10  │ "Loenhout"   │ 0.0    │ 4.8     │ 0   │ 77.0 │ 2.28 │
│ 11  │ "Mons"       │ -Inf   │ -6.848  │ 0   │ 66.2 │ 0.0  │
│ 12  │ "Namur"      │ -Inf   │ -2.12   │ 0   │ 66.2 │ 0.0  │
│ 13  │ "Petange"    │ -Inf   │ -1.919  │ 25  │ 66.2 │ 0.0  │
│ 14  │ "Peronnes"   │ 0.0    │ 0.96    │ 0   │ 66.2 │ 1.68 │
│ 15  │ "Sinsin"     │ 0.0    │ 0.0     │ 0   │ 63.0 │ 0.0  │
│ 16  │ "Voeren"     │ 20.344 │ 22.012  │ 50  │ 66.2 │ 1.68 │
│ 17  │ "Wanze"      │ 0.0    │ 0.0     │ 0   │ 66.2 │ 0.0  │
│ 18  │ "Warnand"    │ 0.0    │ 0.0     │ 0   │ 66.2 │ 0.0  │
│ 19  │ "Zeebrugge"  │ 8.87   │ 11.594  │ 0   │ 77.0 │ 2.28 │
│ 20  │ "Zomergem"   │ 0.0    │ 0.0     │ 0   │ 80.0 │ 0.0  │

In [228]:
df

24×6 Array{Any,2}:
  1  "Zeebrugge"  "Dudzele"     890.0   4.0  0
  2  "Zeebrugge"  "Dudzele"     890.0   4.0  0
  3  "Dudzele"    "Brugge"      890.0   6.0  0
  4  "Dudzele"    "Brugge"      890.0   6.0  0
  5  "Brugge"     "Zomergem"    890.0  26.0  0
  6  "Loenhout"   "Antwerpen"   590.1  43.0  0
  7  "Antwerpen"  "Gent"        590.1  29.0  0
  8  "Gent"       "Zomergem"    590.1  19.0  0
  9  "Zomergem"   "Peronnes"    890.0  55.0  0
 10  "Voeren"     "Berneau"     890.0   5.0  1
 11  "Voeren"     "Berneau"     395.0   5.0  1
 12  "Berneau"    "Liege"       890.0  20.0  0
 13  "Berneau"    "Liege"       395.0  20.0  0
 14  "Liege"      "Warnand"     890.0  25.0  0
 15  "Liege"      "Warnand"     395.0  25.0  0
 16  "Warnand"    "Namur"       890.0  42.0  0
 17  "Namur"      "Anderlues"   890.0  40.0  0
 18  "Anderlues"  "Peronnes"    890.0   5.0  0
 19  "Peronnes"   "Mons"        890.0  10.0  0
 20  "Mons"       "Blaregnies"  890.0  25.0  0
 21  "Warnand"    "Wanze"       395.5  10.5  0
 22  "Wanze"      "Sinsin"      315.5  26.0  1
 23  "Sinsin"     "Arlon"       315.5  98.0  0
 24  "Arlon"      "Petange"     315.5   6.0  0

In [5]:
A = length(Adata[:a])

24

In [104]:
T = 281.5
e = 0.05
den = 0.616
z = 0.8
epsilon = 0.05
delta = 0.6106

0.6106

In [ ]:
readxl(DataFrame,"Adata.xlsx","Tabelle1!A1:F25")

## Calculate pipeline characteristics

lambda(aij) = 1/sqr(2*log10(3.7*diameter(aij)/epsilon)); pipecoeff(aij) = 96.074830e-15 * (diameter(aij)**5)/ (lambda(aij)*z*T*length(aij)*delta);

In [233]:
I = unique(df[:,2])

18-element Array{SubString{String},1}:
 "Zeebrugge"
 "Dudzele"
 "Brugge"
 "Loenhout"
 "Antwerpen"
 "Gent"
 "Zomergem"
 "Voeren"
 "Berneau"
 "Liege"
 "Warnand"
 "Namur"
 "Anderlues"
 "Peronnes"
 "Mons"
 "Wanze"
 "Sinsin"
 "Arlon"

In [234]:
lambda = Dict()
pipecoeff = Dict()

for itera in 1:size(df, 1)
    i = df[itera,2]
    j = df[itera,3]
    lambda[i,j] = 1/sqrt(2*log10(3.7*df[itera,4]/epsilon))
    pipecoeff[i,j] = 96.074830e-15 *  (df[itera,4]^5/(lambda[i,j]*z*T*df[itera,5]*delta) )
    #di[tuple(df[i,:1:3]...)]  = df[i,4]
    #len[tuple(df[i,:1:3]...)] = df[i,5]
    act[tuple(df[itera,:1:3]...)] = df[itera,6]
end

In [235]:
#df[:,3]=="Dudzele"

#data = df
data[data[:,2] .== "Dudzele", :]

2×6 Array{Any,2}:
 3  "Dudzele"  "Brugge"  890.0  6.0  0
 4  "Dudzele"  "Brugge"  890.0  6.0  0

In [236]:
df

24×6 Array{Any,2}:
  1  "Zeebrugge"  "Dudzele"     890.0   4.0  0
  2  "Zeebrugge"  "Dudzele"     890.0   4.0  0
  3  "Dudzele"    "Brugge"      890.0   6.0  0
  4  "Dudzele"    "Brugge"      890.0   6.0  0
  5  "Brugge"     "Zomergem"    890.0  26.0  0
  6  "Loenhout"   "Antwerpen"   590.1  43.0  0
  7  "Antwerpen"  "Gent"        590.1  29.0  0
  8  "Gent"       "Zomergem"    590.1  19.0  0
  9  "Zomergem"   "Peronnes"    890.0  55.0  0
 10  "Voeren"     "Berneau"     890.0   5.0  1
 11  "Voeren"     "Berneau"     395.0   5.0  1
 12  "Berneau"    "Liege"       890.0  20.0  0
 13  "Berneau"    "Liege"       395.0  20.0  0
 14  "Liege"      "Warnand"     890.0  25.0  0
 15  "Liege"      "Warnand"     395.0  25.0  0
 16  "Warnand"    "Namur"       890.0  42.0  0
 17  "Namur"      "Anderlues"   890.0  40.0  0
 18  "Anderlues"  "Peronnes"    890.0   5.0  0
 19  "Peronnes"   "Mons"        890.0  10.0  0
 20  "Mons"       "Blaregnies"  890.0  25.0  0
 21  "Warnand"    "Wanze"       395.5  10.5  0
 22  "Wanze"      "Sinsin"      315.5  26.0  1
 23  "Sinsin"     "Arlon"       315.5  98.0  0
 24  "Arlon"      "Petange"     315.5   6.0  0

In [237]:
J = Dict()
for itera in 1:size(df, 1)
    #data[data[:,3] .== "Dudzele", :]
    
    ival = df[itera,2]
    J[ival] = df[df[:,2] .== ival, 3]
    #println(df[itera,3])
end

In [306]:
for i in I
    try 
        J[i]
    catch
        J[i]= ""
    end    
        
end

In [238]:
lambda

Dict{Any,Any} with 19 entries:
  ("Arlon", "Petange")      => 0.338324
  ("Warnand", "Wanze")      => 0.334586
  ("Mons", "Blaregnies")    => 0.322124
  ("Zeebrugge", "Dudzele")  => 0.322124
  ("Voeren", "Berneau")     => 0.334606
  ("Peronnes", "Mons")      => 0.322124
  ("Zomergem", "Peronnes")  => 0.322124
  ("Gent", "Zomergem")      => 0.328261
  ("Namur", "Anderlues")    => 0.322124
  ("Brugge", "Zomergem")    => 0.322124
  ("Berneau", "Liege")      => 0.334606
  ("Antwerpen", "Gent")     => 0.328261
  ("Dudzele", "Brugge")     => 0.322124
  ("Wanze", "Sinsin")       => 0.338324
  ("Loenhout", "Antwerpen") => 0.328261
  ("Anderlues", "Peronnes") => 0.322124
  ("Warnand", "Namur")      => 0.322124
  ("Sinsin", "Arlon")       => 0.338324
  ("Liege", "Warnand")      => 0.334606

# Model

In [325]:
using Gurobi

INFO: Recompiling stale cache file /Users/matthiaszech/.julia/lib/v0.6/Gurobi.ji for module Gurobi.

In [329]:
m = Model(solver =GurobiSolver(Presolve=0))

Feasibility problem with:
 * 0 linear constraints
 * 0 variables
Solver is Gurobi

## Subsets

In [346]:
head(Ndata)

6×6 DataFrames.DataFrame
│ Row │ i            │ slo  │ sup     │ plo │ pup  │ c   │
├─────┼──────────────┼──────┼─────────┼─────┼──────┼─────┤
│ 1   │ "Anderlues"  │ 0.0  │ 1.2     │ 0   │ 66.2 │ 0.0 │
│ 2   │ "Antwerpen"  │ -Inf │ -4.034  │ 30  │ 80.0 │ 0.0 │
│ 3   │ "Arlon"      │ -Inf │ -0.222  │ 0   │ 66.2 │ 0.0 │
│ 4   │ "Berneau"    │ 0.0  │ 0.0     │ 0   │ 66.2 │ 0.0 │
│ 5   │ "Blaregnies" │ -Inf │ -15.616 │ 50  │ 66.2 │ 0.0 │
│ 6   │ "Brugge"     │ -Inf │ -3.918  │ 30  │ 80.0 │ 0.0 │

In [354]:
i_sup = Ndata[Ndata[:sup] .>0, :i] # supply nodes

6-element DataArrays.DataArray{String,1}:
 "Anderlues"
 "Dudzele"
 "Loenhout"
 "Peronnes"
 "Voeren"
 "Zeebrugge"

In [357]:
head(Adata)

6×6 DataFrames.DataFrame
│ Row │ a │ i           │ j           │ D     │ L    │ act │
├─────┼───┼─────────────┼─────────────┼───────┼──────┼─────┤
│ 1   │ 1 │ "Zeebrugge" │ "Dudzele"   │ 890.0 │ 4.0  │ 0   │
│ 2   │ 2 │ "Zeebrugge" │ "Dudzele"   │ 890.0 │ 4.0  │ 0   │
│ 3   │ 3 │ "Dudzele"   │ "Brugge"    │ 890.0 │ 6.0  │ 0   │
│ 4   │ 4 │ "Dudzele"   │ "Brugge"    │ 890.0 │ 6.0  │ 0   │
│ 5   │ 5 │ "Brugge"    │ "Zomergem"  │ 890.0 │ 26.0 │ 0   │
│ 6   │ 6 │ "Loenhout"  │ "Antwerpen" │ 590.1 │ 43.0 │ 0   │

In [360]:
active_a = Adata[Adata[:act] .== 1, :2] #active points

3-element DataArrays.DataArray{String,1}:
 "Voeren"
 "Voeren"
 "Wanze"

## Variables

In [332]:
@variable(m, f[I, I] >= 0 ) # f_a,i,j ,

f[i,j] ≥ 0 ∀ i ∈ {Anderlues,Antwerpen,…,Zeebrugge,Zomergem}, j ∈ {Anderlues,Antwerpen,…,Zeebrugge,Zomergem}

In [333]:
@variable(m, s[I] >= 0 ) # s_a,i,j, supply demand

s[i] ≥ 0 ∀ i ∈ {Anderlues,Antwerpen,…,Zeebrugge,Zomergem}

In [334]:
@variable(m, pi[I] >= 0 ) #squared pressure

pi[i] ≥ 0 ∀ i ∈ {Anderlues,Antwerpen,…,Zeebrugge,Zomergem}

In [335]:
@variable(m, sc >= 0 )

sc

In [336]:
m

Feasibility problem with:
 * 0 linear constraints
 * 441 variables
Solver is Gurobi

## Objective

In [ ]:
@objective(m, Min, sum(s[i] * c[i] for i= I ) )

## Constraints


Equations 
* flowbalance(i)    flow conservation
* weymouthp(a,i,j)  flow pressure relationship - passive
* weymoutha(a,i,j)  flow pressure relationship - active
* defsc             definition of supply cost

In [337]:
parMatrix = readdlm("Adata.csv", ';',skipstart=1);
parMatrix

24×6 Array{Any,2}:
  1  "Zeebrugge"  "Dudzele"     890.0   4.0  0
  2  "Zeebrugge"  "Dudzele"     890.0   4.0  0
  3  "Dudzele"    "Brugge"      890.0   6.0  0
  4  "Dudzele"    "Brugge"      890.0   6.0  0
  5  "Brugge"     "Zomergem"    890.0  26.0  0
  6  "Loenhout"   "Antwerpen"   590.1  43.0  0
  7  "Antwerpen"  "Gent"        590.1  29.0  0
  8  "Gent"       "Zomergem"    590.1  19.0  0
  9  "Zomergem"   "Peronnes"    890.0  55.0  0
 10  "Voeren"     "Berneau"     890.0   5.0  1
 11  "Voeren"     "Berneau"     395.0   5.0  1
 12  "Berneau"    "Liege"       890.0  20.0  0
 13  "Berneau"    "Liege"       395.0  20.0  0
 14  "Liege"      "Warnand"     890.0  25.0  0
 15  "Liege"      "Warnand"     395.0  25.0  0
 16  "Warnand"    "Namur"       890.0  42.0  0
 17  "Namur"      "Anderlues"   890.0  40.0  0
 18  "Anderlues"  "Peronnes"    890.0   5.0  0
 19  "Peronnes"   "Mons"        890.0  10.0  0
 20  "Mons"       "Blaregnies"  890.0  25.0  0
 21  "Warnand"    "Wanze"       395.5  10.5  0
 22  "Wanze"      "Sinsin"      315.5  26.0  1
 23  "Sinsin"     "Arlon"       315.5  98.0  0
 24  "Arlon"      "Petange"     315.5   6.0  0

In [338]:
df = parMatrix
di = Dict() #diameter
len = Dict() #length
act = Dict() #active pipeline


for i in 1:size(df, 1)
    #println(tuple(df[i, :]...))
    di[tuple(df[i,:1:3]...)]  = df[i,4]
    len[tuple(df[i,:1:3]...)] = df[i,5]
    act[tuple(df[i,:1:3]...)] = df[i,6]
end

In [339]:
# node balance
for i in I
    @constraint(m, sum(f[i,j] for j = J[i] if i!=j) == 
                sum(f[j,i]  for j = J[i] if i!=j) + s[i])
end

In [340]:
# passive
for i in I
    try
        for j in J[i]
            if i!=j
                @constraint(m, f[i, j] == pipecoeff[i, j] * (pi[i] - pi[j]) ) ;
            end
        end
    end
end

In [341]:
# active
for i in I
    try
        for j in J[i]
            if i!=j
                @constraint(m, f[i, j] >= pipecoeff[i, j] * (pi[i] - pi[j]) ) ;
            end
        end
    end
end

In [342]:
status = solve(m)

Academic license - for non-commercial use only
Optimize a model with 68 rows, 441 columns and 202 nonzeros
Coefficient statistics:
  Matrix range     [7e-05, 2e+00]
  Objective range  [0e+00, 0e+00]
  Bounds range     [0e+00, 0e+00]
  RHS range        [0e+00, 0e+00]
Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    0.0000000e+00   0.000000e+00   0.000000e+00      0s

Solved in 0 iterations and 0.01 seconds
Optimal objective  0.000000000e+00

:Optimal

In [124]:
#@constraint(m, [i=I, j=I if i!=j], 
#    sum(f[i,j]  ) == sum(f[j,i] + s[i]))

LoadError: syntax: missing separator in array expression

In [125]:
m

Feasibility problem with:
 * 1 linear constraint
 * 441 variables
Solver is default solver

In [77]:
f["Antwerpen","Antwerpen"]

f[Antwerpen,Antwerpen]

In [17]:
# node balance

for i = 1:n
    2+"a"
    # @constraint(m, x[i,i] == 0)
    for j = 1:n
        if i!=j
            @constraint(m, f[i,j] == f[j,i] + s[i])
        end if
    end
end



#@constraint(m, sum(f[a,i,j] for a=1:A for i in I for j in I ) == 
                1);

#@constraint(m, sum(a[i] for i=1:numLocation) == cost)

In [18]:
A

24

# Garbage

In [19]:
function fa{T<:Any}(A::Array{T,2})
    return tuple([A[c,:] for c in 1:size(A,1)]...)
end

A = rand(4,5)
tup = fa(A)

([0.738953, 0.446618, 0.255839, 0.536744, 0.892265], [0.450107, 0.34563, 0.290102, 0.319516, 0.0827698], [0.478546, 0.129584, 0.845988, 0.613271, 0.835391], [0.595063, 0.424116, 0.864113, 0.632541, 0.185115])